
.profile {
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 88vh;
    background-image: url('https://i.pinimg.com/originals/58/c3/35/58c335a924903d01afb15526e8fbe24f.jpg');
    background-size: cover;
    color: white;
}

.user-info {
  text-align: center;
  margin-top: 50px;
  background-color: brown;
  opacity: 0.7;
  border-radius: 20px;
}

.saved-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 100px;
}

.user-info h2 {
  text-align: center;
  margin-top: 50px;
}

.user-info h3 {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.go-log {
  background-color: brown;
  opacity: 0.8;
  border-radius: 20px;
  padding: 10px;
}

.go-log p {
  color: white;
  padding-top: 5px;;
}

.saved-list  a {
  width: 100%;
  text-align: center;
}

.saved-card {
  width: 20%;
  margin: 5px;
  background-color: lightgrey;
  border-radius: 20px;
}

.saved-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.delete-button {
  background-color: brown;
  color: white;
  padding: 1rem;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
}

.delete-button:hover {
  background-color: red;
}

.go-log:hover {
  background-color: red;
}


@media (max-width: 800px) {
  .saved-list {
      justify-content: center; 
  }

  .saved-card {
      flex-basis: 50%;
  }
}

    