.App {
  margin: 0;
  padding: 0;
}

.back {
  background-image: url('https://m.media-amazon.com/images/I/91fm+hvqX1L.jpg');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* height: 100vh; */
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.titleins {
  font-size: 4.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  margin-bottom: 20px;
}

.label {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.button {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 10px;
}

/* .button:hover {
  background-color: rgba(0, 0, 0, 0.85);
} */

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.card {
  width: 20%;
  margin: 5px;
  background-color: lightgrey;
  border-radius: 20px;
  /* display: flex;
  flex-wrap: wrap;
  width: 250px;
  padding: 10px; */
}

.card--image {
  /* flex: 100%;
  margin-top: 1rem;
  border-radius: 10px; */
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.card--user {
  margin-left: 10px;
}

.card--user-image {
  border-radius: 20px;
  margin-top: 5px;
}

.card--user-details {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .card-list {
      justify-content: flex-start; /* Stacking cards vertically */
  }

  .card {
      flex-basis: 50%;
  }
}