.App {
  margin: 0;
  padding: 0;
}

.back {
  /* background-image: url('https://m.media-amazon.com/images/I/91fm+hvqX1L.jpg'); */
  background-image: url('https://images.unsplash.com/photo-1543132384-23765008467c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 88vh;
  padding-bottom: 200px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.titleins {
  font-size: 4.4rem;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  margin-bottom: 20px;
}

.label {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.input {
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  line-height: 2.8rem;
  border-radius: 20px;
  background-color: white;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.button {
  background-color: brown;
  color: white;
  padding: 1rem 2rem;
  border-radius: 20px;
  font-size: 1.4rem;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 10px;
}

.button:hover {
  background-color: red;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;

  /* background-image: url('https://m.media-amazon.com/images/I/91fm+hvqX1L.jpg'); */
  background-image: url('https://images.unsplash.com/photo-1543132384-23765008467c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.card {
  width: 20%;
  margin: 5px;
  background-color: lightgrey;
  border-radius: 20px;
}

.card--image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.card--user {
  margin-left: 10px;
}

.card--user-image {
  border-radius: 20px;
  margin-top: 5px;
}

.card--user-details {
  display: flex;
  flex-direction: column;
}

.log-yn {
  display: grid;
  place-items: center;
}

.save-button {
  background-color: brown;
  color: white;
  padding: 1rem;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 10px;
}

.save-button:hover {
  background-color: red;
}

.must-log {
  color: brown;
  text-decoration: underline;
  padding-top: 1rem;
}

.must-log:hover {
  color: red;
}

@media (max-width: 800px) {
  .card-list {
      justify-content: center; /* Stacking cards vertically */
  }

  .card {
      flex-basis: 50%;
  }
}