header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
}

.titleheader {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  color: white;
}

.nav {
  display: flex;
  gap: 1rem;
  align-items: center; /* Align vertically in the center */
  color: white;
}

.nav a, .login-button {
  text-decoration: none;
  font-size: 20px; /* Set font size to match button */
  padding: 0.5rem 1rem;
}

.login-button {
  border: none;
  background-color: brown;
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
}

.login-button:hover {
  background-color: red;
}