
.tips-back {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background-image: url('https://img.freepik.com/free-vector/vintage-monochrome-tattoos-seamless-pattern_225004-1538.jpg');
  background-position: center;

  padding: 50px 0;
}

.tips {
  padding: 30px 60px;
    border-radius: 10px;
    background-color: rgb(215, 215, 207);
    width: 80vw;
    text-align: left;
}
.tips-text {
  text-align: left;
} 

.tips ul {
  text-align: left;
  list-style: none;
  
}

.tips ul li {
  font-weight: bold;
  font-size: 20px;
}


.tips p {
  width: 90%;
  margin: 0 auto; 
  line-height: 2; 
  font-size: 23px; 
  padding-bottom: 40px;
  text-align: left;
}


.tips h3 {
  text-align: center;
  font-size: 33px;
}
.tips h2.tipstitle {
  text-align: center;
  font-size: 50px;

}


.tips > * {
  margin-bottom: 20px;
  color: black;
}

/* .tips {
  margin-bottom: 70px; 
  background-image: url('https://images.unsplash.com/photo-1543132384-23765008467c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
  background-position: center;
} */


.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

.tipsImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .tipsImages {
    max-width: 90%;
}
}

@media (max-width: 480px) {
  .tipsImages {
    max-width: 80%; 
  }
}